:root {
    --clr: 200;
    --btn-color: hsl(var(--clr),70%,90%);
    --btnhover-color: hsl(var(--clr),70%,80%);
    --text-color: hsl(var(--clr),70%,10%);
    --back-color: hsl(var(--clr),70%,93%);
    --deco-color: hsl(var(--clr),70%,50%);
    --link-color: hsl(var(--clr),70%,40%);
    --gone-color: hsl(var(--clr),20%,40%); 
    --table-color1: hsl(var(--clr),60%,95%); 
    --table-color2: hsl(var(--clr),60%,98%); 
    --vb-ground-color: hsl(202, 82%, 43%);
}

body {
    font: 12pt Arial;
    margin: 0;
}

h1 {
    margin: 0.5em 0 0.5em 0;
}

section {
    background-color: white;
    display: none;
    width: 100%;
    height: 100%;
}

dialog {
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 4px 4px 4px silver;
    padding: 0;
}

dialog h1 {
    line-height: 1.2rem;
    font-size: 14pt;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    background-color: var(--btn-color);
}

dialog table {
    line-height: 2;
    margin: 0.5rem 1rem 0.5rem 2rem;
}

dialog .bar {
    width: 100%;
    justify-content: space-around;
    padding: 0.5rem;
}

dialog::backdrop {
    background: hsla(var(--clr), 50%, 80%, 0.5);
    backdrop-filter: blur(1.5px);
}

dialog:modal {
    box-shadow: 4px 4px 4px gray;
}

.title {
    display: flex;
    align-items: center;
}

.title > h1 {
    margin-right: 0.5rem;
}

.button-bar {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
}

.bar-center {
    justify-content: space-evenly;
    align-items: center;
}

.bar-left {
    flex-flow: row nowrap;
}

button {
    height: 2em;
    width: 9em;
    border: 1px solid silver;
    background-color: var(--btn-color);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 90% center;
    border-radius: 3px;
    text-align: left;
    padding-left: 1em;
}

button:hover {
    background-color: var(--btnhover-color);
}

dialog table td:first-child {
    padding-right: 1rem;
}

.btn {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s; 
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.9);
    filter: brightness(1.7);
}

.btn-bar {
    display: flex;
    margin-top: 1rem;
}

p > .title ~ * {
    margin-left: 1rem;
} 

.edit-line {
    display: flex;
    align-items: center;
}

#club-page {
    padding: 0.5rem;
}

#club-menu {
    display: flex;
    flex-flow: row nowrap;
}

.object-table {
    line-height: 2;
    border: 1px solid silver;
}

.object-table > div:nth-child(odd) {background-color: var(--table-color1);}
.object-table > div:nth-child(even) {background-color: var(--table-color2);}

#club {
    width: 300px;
    border: 1px solid silver;
}

.club-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
    gap: 4px;

}

#members {
    width: 300px;
    border: 1px solid silver;
    display: inline-flex;
    flex-direction: column;
}

.member-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2em;
    gap: 4px;
}

.member-row div:nth-child(2) {width: 1.5rem; text-align: right;}
.member-row div:nth-child(3) {width: 3rem; text-align: left;}
.member-row div:nth-child(4) {width: 2rem; text-align: center;}
.member-row div:nth-child(6) {width: 6rem; text-align: left;}

#teams {
    width: 300px;
    border: 1px solid silver;
    display: inline-flex;
    flex-direction: column;
}

.team-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2em;
    gap: 4px;
}

.team-row div:nth-child(3) {width: 1.5rem; text-align: right;}
.team-row div:nth-child(4) {width: 8rem; text-align: left;}
.team-row div:nth-child(5) {width: 2rem; text-align: center;}

.object-table tr:nth-child(odd) {
    background-color: var(--table-color1);
}

.object-table tr:nth-child(even) {
    background-color: var(--table-color2);
}

.teams td:nth-child(3) {
    text-align: right;
    width: 2em;
}

#match-page {
    height: 100vh;
    background-color: hsl(var(--clr), 50%, 4%);
}

#match-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-aspect-ratio: 16/10) {
    #match-container {
        flex-flow: row nowrap;
        height: 100vh;
    }
    
    #match-grid {
        height: 100%;
        font-size: 2.5vh;
    }
}

@media (max-aspect-ratio: 16/10) {
    #match-container {
        height: 100vh;
        flex-flow: column nowrap;
    }
    
    #match-grid {
        width: 100%;
        font-size: 1.56vw;
    }
}

#match-grid {
    position: relative;
    background-color: var(--vb-ground-color);
    aspect-ratio: 16/10;
    display: grid;
    grid-template-columns: 5fr 16fr 8fr 3fr;
    grid-template-rows:    1fr 8fr 1fr;
    grid-template-areas:
        "tpanel tpanel tpanel rpanel"
        "lpanel court  bench  rpanel"
        "bpanel bpanel bpanel rpanel";
    gap: 0;
}

#court-image {
    position: absolute;
    height: 97.5%;
    left: -1%;
    top: 0;
    pointer-events: none;
}

.match-tpanel {
    padding-left: 0.5em;
    grid-area: tpanel;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5em;
}

.match-lpanel {
    grid-area: lpanel;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    row-gap: 0.5em;
    padding: 0.5em;
}

.match-court {
    grid-area: court;
    position: relative;
}

#match-bench {
    margin: 0.5rem;
    padding: 0.2em 0.5em 0.2em 0.5em;
    grid-area: bench;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    row-gap: 0.2em;
    column-gap: 0.2em;
}

.match-rpanel {
    grid-area: rpanel;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}

.match-bpanel {
    grid-area: bpanel;
    position: relative;
}

#match-log {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    padding: 0.2em 1em 0.2em 1em;
    color: hsl(var(--clr),50%,30%);
    background-color: hsla(0,50%,100%,0.3);
}

.player {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 0.2em;
    background-color: black;
    border-radius: 50vh;
    color: hsl(49, 100%, 50%);
    cursor: move;
    z-index: 1;
}

.on-court {
    position: absolute; 
    transform: translate(-50%, -50%);
    transition: left 0.5s ease, top 0.5s ease;
    width: 15%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.on-bench {
    width: 100%;
    height: 7.5%;
    display: flex;
    justify-content: flex-start;
    font-size: 125%; 
}

.on-bench div:nth-child(1) {
    width: 2em;
    text-align: center;
}

.on-bench div:nth-child(2) {
    width: 4em;
    text-align: left;
}

.on-court div:nth-child(1) {
    font-size: 175%;
    font-weight: bold;
    line-height: 0.6em; 
    margin-top: 0.1em;       
    margin-bottom: 0.2em;       
}

.on-court div:nth-child(3) {
    display: none;
}

.match-rpanel .btn {
    margin-left: auto;
    margin-right: auto;
    height: 4em;
    width: 4em;
}

.match-rpanel .rotate-forward {
    margin-top: 2em;
}

.match-tpanel .btn {
    height: 2em;
    width: 2em;
}

#match-title {
    z-index: 1;
    padding: 0 0.5em 0 0.5em;
    display: flex;
    align-items: center;
    font-size: 1.75em;
    border-radius: 4px;
    background-color: hsla(0,50%,100%,0.3);
    color: hsl(var(--clr),50%,30%);
}

.inset-box {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: hsla(0,50%,100%,0.3);
}

.match-display {
    padding: 0.5em;
    color: hsl(var(--clr),50%,30%);
    border-radius: 4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 4px;
}

.match-display > * {
    width: 100%;
}

.match-display > div:nth-child(n+2) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--clr),50%,10%);
    color: hsl(350, 90%, 70%);
    border-radius: 4px;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
}

.display-rotation {
    font-size: 2em;
}

#display-clock, #display-watch {
    font-size: 1.5em;
}

.btn-disable {
    filter: grayscale(80%);
    pointer-events: none;
}

#btn-fullscreen {
    margin-top: 1em;
}

#btn-rotate-forward {
    margin-top: 4em;
}

#btn-save-startingsix {
    margin-top: 4em;
}

#btn-startstop {
    position: absolute;
    bottom: 1em;
}

.open {
    background-image: url(img/open.svg);
}

.save {
    background-image: url(img/save.svg);
}

.delete {
    background-image: url(img/delete.svg);
}

.add {
    background-image: url(img/add.svg);
}

.rename {
    background-image: url(img/rename.svg);
}

.edit {
    background-image: url(img/edit.svg);
}

.show {
    background-image: url(img/formation.svg);
}

.home {
    background-image: url(img/home.svg);
}

.change {
    background-image: url(img/change.svg);
}

.cancel {
    background-image: url(img/cancel.svg);
}

.ok {
    background-image: url(img/ok.svg);
}

.start {
    background-image: url(img/start.svg);
}

.stop {
    background-image: url(img/stop.svg);
}

.rotate-forward {
    background-image: url(img/rotate-forward.svg);
}

.rotate-backward {
    background-image: url(img/rotate-backward.svg);
}

.startingsix {
    background-image: url(img/startingsix.svg);
}

.new {
    background-image: url(img/new.svg);
}

.full-screen {
    background-image: url(img/full-screen.svg);
}

.shrink-screen {
    background-image: url(img/shrink-screen.svg);
}

.court-field {
    fill: hsl(23, 90%, 70%);
}

.court-lines {
    fill: hsl(24, 20%, 90%);
}

.court-masts {
    fill: hsl(198, 89%, 4%);
}

.court-net {
    stroke-dasharray: 30, 15;
    stroke-width: 5;
    stroke: hsl(198, 89%, 4%);
}
